body {
	font-weight: 400;
	background-color: var(--background);
	color: var(--text);
	margin: 0;
}
/* rest unchanged */

html {
	font-size: 100%;
} /* 16px */

h1 {
	font-size: 3.052rem; /* 48.8px */
}

h2 {
	font-size: 2.441rem; /* 39.04px */
}

h3 {
	font-size: 1.953rem; /* 31.2px */
}

h4 {
	font-size: 1.563rem; /* 24.96px */
}

h5 {
	font-size: 1.25rem; /* 20px */
}

small {
	font-size: 0.8rem; /* 12.8px */
}

/* Colour Palette */
@media (prefers-color-scheme: light) {
	:root {
		--text: #221d28;
		--background: #dbd6e1;
		--primary: #401f7a;
		--secondary: #ffc66d;
		--accent: #fffa65;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #e7d7f8;
		--background: #221d28;
		--primary: #a785e0;
		--secondary: #ffc66d;
		--accent: #fffa65;
	}
}

/** !!! DEBUG !!! **/
/* * {
	outline: 0.5px dotted red;
} */
