@import "tailwindcss";

:root {
	--text: #ffffff;
	--background: #323232;
	--background2: #383838;

	--bgPattern: repeating-linear-gradient(
		-45deg,
		var(--background),
		var(--background) 20px,
		var(--background2) 20px,
		var(--background2) 40px
	);
}

body {
	font-weight: 400;
	background-color: var(--background);
	color: var(--text);
	margin: 0;
	font-family: "Iosevka Web", monospace;
}
/* rest unchanged */

@theme {
	--color-text: var(--text);
	--color-background: var(--background);
	--color-background2: var(--background2);

	--text-sm: 0.8rem;
	--text-base: 16px;
	--text-xl: 1.25rem;
	--text-2xl: 1.563rem;
	--text-3xl: 1.953rem;
	--text-4xl: 2.441rem;
	--text-5xl: 3.052rem;

	--animate-pan: pan 150s infinite linear reverse;

	@keyframes pan {
		100% {
			background-position: 100% 100%;
		}
	}
}
